numpy

matplotlib

scikit-image

torch
Pillow
tifffile

tqdm

py-cpuinfo
pyUSID

opencv-python

hyperspy

ipywidgets

msgpack

zict

sortedcontainers

pyNSID

pycroscopy

sidpy==0.11.1

torchsummary

wget

xlrd